.gridTable {
  display: flex;
  column-gap: 10px;
  row-gap: 20px;
  padding: 30px 0;
}

.gridItem {
  width: 100%;
}

.fadeOut {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  flex-wrap: wrap;
}
