.card {
  width: 100%;
  background-color: #5c16c5;
  position: relative;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;

  span {
    font-size: 20px;
    color: white;
    font-weight: bold;
  }

  img {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
  }
}
