.divider {
  position: relative;
  cursor: pointer;
  span {
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0e0e10;
    line-height: 1;
    padding: 10px;
  }
}
